@import models.{User,Content}
@import helper._
@(username: String, repoName: String, path: String)(contents: List[Content])


<!DOCTYPE html>
<html lang="en">
<head>
    <title>@repoName@path</title>

</head>
<body>

    <h3>Github</h3>
    <a href=@{controllers.routes.HomeController.getUser(username)}>Back to @username</a>
    <a href=@{controllers.routes.HomeController.getUserRepositories(username)}>Back to Repositories</a>
    <a href=@{controllers.routes.HomeController.getUserRepositoryContents(username, repoName, "repo-contents")}>Back to @repoName</a>
    <hr>
    <h1>@repoName/@path contents:</h1>

    <section>
        <p>-----------------------</p>
        @contents.map { file =>
            <element>
                <h4>@file.name</h4>
                <p>@{ if (file.`type`.contains("dir")) "Folder" else if(file.`type`.contains("file")) "File" else "Other"}</p>

                <a href=@{
                   if (file.`type`.contains("dir"))
                        controllers.routes.HomeController.getUserRepositoryContents(username, repoName, file.path)
                   else if (file.`type`.contains("file"))
                        controllers.routes.HomeController.getFileContents(username, repoName, file.path)
                }>
                    @{ if (file.`type`.contains("dir")) "Open folder"
                        else if(file.`type`.contains("file")) "Open file"
                        else "Open"}
                </a>
            </element>
            <p>-----------------------</p>
        }
    </section>

    <a href=@{controllers.routes.HomeController.openNewFilePage(username, repoName, {if (path.equals("")) "top" else path }  )   }>Create new file</a>

</body>
</html>
