@import models.{User,Content}
@(username: String)(repoName: String)(path: String)(contents: List[Content])

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@username's @repoName@path</title>

</head>
<body>

    <h1>@repoName@path contents:</h1>

    <section>
        @contents.map { file =>
            <element>
                <h4>@file.name</h4>
                <p>@{ if (file.`type`.contains("dir")) "Folder" else if(file.`type`.contains("file")) "File" else "Other"}</p>
                @*
                <p>@file.size</p>
                *@

                <a href=@controllers.routes.HomeController.getUserRepositoryContentsPath(username, repoName, s"$path/${file.name}")>Open</a>
            </element>
            <p>-----------------------</p>
        }
    </section>

</body>
</html>
